main.app-page-index {
    min-height: 100vh;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    image-rendering: optimizespeed;
    image-rendering: pixelated;
    background-color: #319cff;
    .logo {
        display: block;
        margin: 0 auto;
    }
    .button-grid {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        min-height: 50vh;
        margin: 0 auto;
        max-width: 750px;
        > a.button {
            @include until($tablet) {
                margin-bottom: 0.75rem;
            }
        }
    }
}
