/***************************
********* Colors 🎨 ********
***************************/
$yellow: #ffcb05;
$blue: #3d7dca;
$navyblue: #003a70;
$orange: #c64242;

$white: white;
$black: #323130;

/***************************
******** Settings ⚙ ***!****
***************************/
// $menuWith: 230px;
